html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem; /* 16px actual text size */
  margin: 0;
  font-family: var(--font-family);
  background: var(--color-background);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}
